:root {
  --primary-color: #111827;
  --primary-color-hover: #1F2937;
  --secondary-color: #F3F4F6;
  --white-primary-color: #FAFAFA;
  --gray-primary-color: #D1D5DB;
  --gray-secondary-color: #F3F4F6;
  --gray-accent-color: #637381;

  --black-50: rgba(0, 0, 0, 0.5);
}