:root {
  --primary-color: #111827;
  --primary-color-hover: #1F2937;
  --secondary-color: #F3F4F6;
  --accent-color: #E9D5FF;
  --white-primary-color: #FAFAFA;
  --gray-primary-color: #D1D5DB;
  --gray-secondary-color: #F3F4F6;
  --gray-accent-color: #637381;
  --black-primary-color: #01061a;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-100: rgba(0, 0, 0, 1);
}